.footer{
    margin-top: 40px;
    padding-top: 40px;
	background:#222;

    .footer-top{
        margin-bottom: 30px;

        .single-footer {

            h4 {
                font-size: 17px;
                font-weight: 600;
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 30px;    
            }
        }

        .about {
            padding-right: 50px;
    
            .logo{
                margin-bottom:20px;
            }
    
            .text{
                color:#fff;
                font-weight: 400;
            }
        }

        .links {

            ul {
    
                li {
                    display: block;
                    margin-bottom: 8px;
                    margin-left: -30px;
                    padding-left: 0;
    
                    a{
                        color:#fff;
                        font-weight: 400;
                    }
    
                    a:hover{
                        color:#F7941D;
                        padding-left:10px;
                    }
                }
    
                li:last-child{
                    margin-bottom:0;
                }
            }
        }

        .social {

            .contact {
    
                ul {
                    li {
                        color: #fff;
                        display: block;
                        margin-bottom: 4px;
                        font-weight: 400;
                        margin-left: -30px;
                    }
    
                    li:last-child{
                        margin-bottom:0;
                    }
                }
            }
            .icon{
                ul {
                    margin-top: 20px;
                    margin-left: -30px;
        
                    li{
                        display:inline-block;
                        margin-right:25px;
        
                        a{
                            color:#fff;
                            display:block;
                            font-size:16px;
                        }
        
                        a:hover{
                            color:#F7941D;
                        }
                    }
        
                    li:last-child{
                        margin-right:0;
                    }
                }
            }
            
        }
    }

    .copyright {

        .inner{
            border-top:1px solid #eeeeee3d;
            padding:20px 0;

            .left{

                p{
                    color:#fff;
    
                    a{
                        color:#fff;
                        text-decoration:underline;
                    }
                }
            }
        }

       
    }
}

@media (max-width: 991px) {
    .footer{
        .copyright {
           
            // display: flex;
            // align-items: center;

          .inner{
              .right{
               
                img{
                    display: block;
                    margin: 0 auto !important;
                   }
                          
            }

            .left{
                p{
                    color: #fff;
                   text-align: center   ;
                }  
            }
          }
        }
    }
}

@media (min-width: 991px) {
    .footer{
        .copyright {
            .right{
                float:right;
            }
        }
    }
}


